body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#botoes-letras button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#palavra {
    font-size: 24px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
