body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#botoes-letras button {
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    cursor: pointer;
}

#palavra {
    font-size: 50px;
    letter-spacing: 30px;
    margin-bottom: 30px;
}
