body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#botoes-letras button {
    margin: 50px;
    padding: 100px;
    font-size: 200px;
    cursor: pointer;
}

#palavra {
    font-size: 100px;
    letter-spacing: 100px;
    margin-bottom: 100px;
}
